

.card-container {
  cursor: pointer;
  height: 400px;
  width: 700px;
  perspective: 1200px;
  position: relative;
  margin: auto;
  transition: ease-in;

}
 
.card {
  height: 400px;
  width: 700px;
  position: relative;
  border: 2px solid #300;
  transform-style: preserve-3d;  
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
}
 
.card.flip {
  transform: rotateY(180deg);
  transition: all 0.5s ease-in-out;
}
 
.front,
.back{
  height: 400px;
  width: 700px;
  position: absolute;
  overflow: auto;
  text-align: center;
}
 
.front {
   
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
}

  .back {

  transform: rotateY(-180deg);
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
}    

.imageurl{
  backface-visibility: inherit; 
  -webkit-backface-visibility: inherit;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}

.english{
  color: #333;
  font-size: 2.3em;
  padding-top: 20px;
}

.german{
  color: #333;
  font-size: 2.3em;
  padding-top: 20px;
}

.chinese{
    color: rgba(200, 10, 10, 1);
    font-size: 2.3em;
    padding-top: 20px;
}