

.card-container {
  cursor: pointer;
 /*  height: 400px;
  width: 700px; */
  height: 100%;
  perspective: 1000px;
  position: relative;
  margin: auto;
  transition: ease-in;

}
 
.card {
  height: 500px;
  width: 700px;  
  position: relative;
  border: 2px solid #300;
  transform-style: preserve-3d;  
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
}
 
.card.flip {
  transform: rotateY(180deg);
  transition: all 0.5s ease-in-out;
}
 
.front,
.back{

  position: absolute;
  overflow: auto;
  text-align: center;
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
}
 

.back {
  height: 500px;
  width: 700px;  
  transform: rotateY(-180deg);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}    

 
#container {
  height: 100%;
  width: 100%;
  display: flex;
}

.english{
  color: #333;
  font-size: 4.5em;
   
}

.german{
  color: #333;
  font-size: 4.5em;
  
}

.chinese{
    color: #333;
    font-size: 4.5em;
   
}