/*Can achive using vw css unit*/
.main-nav-bar{
    
    max-width: 800px;
    width: 80vw;
    position: relative;
 
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    margin-top: 20%;
}
 
@media screen and (orientation:landscape) and (pointer:coarse) {
    .main-nav-bar{
        margin-top: 80%;
    }
  
  }

@media screen and (orientation:landscape) and (pointer:none) {
    .main-nav-bar{
        margin-top: 80%;
    }
 }