.CardApp {
    text-align: center;
    height: 100%;
  }
  
  .CardApp-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .CardApp-logo {
      animation: CardApp-logo-spin infinite 20s linear;
    }
  }
  
  .CardApp-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .CardApp-link {
    color: #61dafb;
  }
  
  @keyframes CardApp-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .cardRow {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .buttonRow,
  .speakerRow{
    height: 100%;
    width: 100%;
  }
   